<div class="backgroundImage container-fluid">
    <div class="position-fixed logo">
        <img src="assets/images/logo.png" class="fixed" alt="" style="width: 150px;">
    </div>
    <div class="row"><div class="col-md-12">&nbsp;</div></div>
    <div class="row">&nbsp;</div>
    <div class="row p-0 m-0 border-main">
        <div class="col-md-7">
            &nbsp;
        </div>
        <div class="col-md-5">
            <app-animation1></app-animation1>
        </div>
    </div>
    <div class="row p-0 m-0 border-main">
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-6">
            <app-animation2></app-animation2>
        </div>
        <div class="col-md-4">&nbsp;</div>
    </div>
    <div class="row p-0 m-0 border-main">
        <div class="col-md-7">&nbsp;</div>
        <div class="col-md-4 p-0 m-0">
            <app-animation3></app-animation3>
        </div>
    </div>
    <div class="row p-0 m-0 border-main">
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-6">
            <app-animation4></app-animation4>
        </div>
        <div class="col-md-4">&nbsp;</div>
    </div>
    <div class="row"><div class="col-md-12">&nbsp;</div></div>
</div>