<div
    class="width-component"
    (mouseover)='over()'
    (mouseout)='out()'
    src="../assets/images/animation3.png" 
    [@openClose]="isOpen ? 'open' : 'closed'"
    [@onHover] = "onHover ? 'over' : 'leave'"
>
    <div class="row p-0 m-0 center">
        <div class="big-text">
            C
        </div>
        <div>
            <div class="row">
                <div class="col-md-12 medium-text align-text">
                    creating <br/>visual
                </div>
            </div>
        </div>
    </div>
</div>
