<div class="width-component" [@openClose]="isOpen ? 'open' : 'closed'">
    <div class="row center">
        <div class="big-text">
            E
        </div>
        <div>
            <div class="row" style="height: 60% !important;">
                <div class="col-md-12 medium-text align-text">
                    emotional<br/>power
                </div>
            </div>
        </div>
    </div>
    <div class="row"><div class="col">&nbsp;</div></div>
</div>
