.big-text {
    font-size: 100pt;
    color: #ffffff;
}

.medium-text {
    font-size: 25pt;
    color: #ffffff;
    justify-content: center;
    align-items: center;
}

.border-custom {
    border-style: solid;
    border-width: 2px !important;
}

.border-text {
    border-style: solid;
    border-width: 2px !important;
    border-color: yellow !important;
}

.align-text {
    margin-top: 20%;
    margin-left: 5%;
    height: 100%;
}

.no-margin {
    margin-top: 0%;
}

@media only screen and (max-width: 508px) {
    .big-text {
        font-size: 80pt;
        color: #ffffff;
    }

    .medium-text {
        font-size: 20pt;
        color: #ffffff;
        //justify-content: center;
        //align-items: center;
    }

    .align-text {
        margin-top: 25%;
        width: 45%;
    }

    .center {
        display: flex;
        align-content: center;
        justify-content: center;
    }
}

p {
    word-wrap: break-word;
}

.border-custom {
    border-style: solid;
    border-width: 2px;
    border-color: red;
}