<div class="width-component" [@openClose]="isOpen ? 'open' : 'closed'">
    <div class="row center">
        <div class="big-text">
            D
        </div>
        <div class="second-column">
            <div class="row" style="height: 60% !important;">
                <div class="col-md-12 medium-text align-text">
                    strategic <div>& creative</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 medium-text">
                    dialogue
                </div>
            </div>
        </div>
    </div>
</div>
