/* You can add global styles to this file, and also import other style files */
.img-carousel {
    width: 100%;
    max-height: 650px;
    object-fit: cover;
}

ngb-carousel {
    //   width: inherit;
    //   height: inherit;
    width: 100%;
    height: 100%;
  }
  
  
  .carousel-inner {
    overflow: visible;
  }
  
  .carousel-item {
    display: flex !important;
    opacity: 0;
    visibility: hidden;
    //transition: opacity 1.2s ease-in-out, visibility 2.2s;
    transition: width 2s, height 2s, background-color 2s, transform 4s;
    z-index: -1;
    //position: absolute;
  }
  
  .carousel-item.active {
    opacity: 1;
    visibility: visible;
    //transition: opacity 1.2s ease-in-out, transform 3.2s;
    transform: rotate(360deg);
    z-index: 10;
  }
  
  .carousel-control-prev {
    z-index: 20;
  }
  
  
  .carousel-control-next {
    z-index: 20;
  }
  
  .carousel-indicators {
    z-index: 20;
  }

  body, html {
    height: 800px;
  }


.backgroundImage {
    background: url(assets/images/bckImg.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 1;
    height: 100%;
}

.logo {
  top: 10px;
  left: 10px;
  z-index: 10;
}

.border-main {
  //border-style: solid;
  //border-width: 2px;
  //border-color: blue;
  height: 15%;
}

.width-component {
  width: 80%;
}


@media only screen and (max-width: 508px) {
  body, html {
    height: 900px;
  }

  .border-main {
    //border-style: solid;
    //border-width: 2px;
    //border-color: blue;
    height: 20%;
  }
}