<div class="width-component" [@openClose]="isOpen ? 'open' : 'closed'">
    <div class="center">
        <div class="big-text">
            A
        </div>
        <div class="medium-text align-text">
            <p>
                architecture runs through our veins
            </p>
        </div>
    </div>
</div>