.big-text {
    font-size: 100pt;
    color: #ffffff;
    float: left;
}

.medium-text {
    font-size: 20pt;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    float: left;
}

.border-custom {
    border-style: solid;
    border-width: 2px !important;
}

.border-text {
    border-style: solid;
    border-width: 2px !important;
    border-color: yellow !important;
}

.align-text {
    margin-top: 10%;
    margin-left: 5%;
    height: 100%;
    width: 40%;
}

.no-margin {
    margin-top: 0%;
}

@media only screen and (max-width: 508px) {
    .big-text {
        font-size: 80pt;
        color: #ffffff;
    }

    .medium-text {
        font-size: 15pt;
        color: #ffffff;
        //justify-content: center;
        //align-items: center;
    }

    .align-text {
        margin-top: 10%;
        width: 45%;
    }

    .center {
        display: flex;
        align-content: center;
        justify-content: center;
    }
}

p {
    word-wrap: break-word;
}